{{#each posts as |post|}}
  <div class="card w-300 bg-zinc-800 shadow-xl prose" id="post-{{post.id}}">
    <div class="card-body">
      <h2 class="card-title"><a href="/posts/{{post.id}}">{{post.title}}</a></h2>

      <p>{{post.content}}</p>

      <p>Written by {{post.user.name}} on {{format_date post.date_created}}</p>

      <button class="btn btn-primary">Add comment</button>

      {{{build_comment_tree post.comments ../logged_in_user}}}
    </div>

    {{#ifEq post.user_id ../logged_in_user}}
      <button class="btn btn-sm btn-primary edit-post" id="{{post.id}}">EDIT</button>
    {{/ifEq}}
    
    {{#ifEq post.user_id ../logged_in_user}}
      <button class="btn btn-sm btn-danger delete-post" id="{{post.id}}">DELETE</button>
    {{/ifEq}}
  </div>
{{/each}}

<dialog class="modal justify-center" id="post-dialog">
  <form method="dialog" class="modal-box grid grid-cols-1 gap-4" id="post-form">
    <input
      type="text"
      id="title"
      placeholder="title"
      class="form-input"
    />

    <textarea
      id="content"
      class="textarea textarea-bordered"
    ></textarea>

    <div class="modal-action">
      <button class="btn" id="post-cancel">Cancel</button>
      <button class="btn" id="post-save">Save</button>
    </div>
  </form>
</dialog>

<dialog class="modal justify-center" id="edit-post-dialog">
  <form method="dialog" class="modal-box grid grid-cols-1 gap-4" id="edit-form">
    <input type="hidden" id="edit-post-id" name="id">

    <input
      type="text"
      id="edit-post-title"
      placeholder="post title"
      class="form-input"
    />

    <textarea
      id="edit-post-content"
      class="textarea textarea-bordered"
    ></textarea>

    <div class="modal-action">
      <button class="btn" id="edit-post-cancel">Cancel</button>
      <button class="btn" id="edit-post-save">Save</button>
    </div>
  </form>
</dialog>
